html {
  background-color: #f9f9fa;
}

body {
  padding: 0;
}

#navbar {
  position: fixed;
  background-color: #e8eaed;
  display: flex;
  padding: 1vw;
  width: calc(100vw - 2.5vw - 4.4px);
  left: 0;
  top: 0;
  border: 1px solid black;
  justify-content: space-between;
}

.navbar-padding {
  width: 100%;
  height: 20vh;
}

#navbar a, #navbar a:visited, #navbar a:active {
  text-decoration: none;
  background-color: #f9f9fa;
  color: black;
  width: 3vw;
  padding: 1em;
  line-height: normal;
  text-align: center;
  border: 1px solid black;
}

#navbar a:hover {
  color: #FFFFFF;
  background-color: #000000;
}
